@charset "UTF-8";
/* LESS MIXINS ==========================================

Examples:
```````````````````````````````````````````
.gradient(#F5F5F5, #EEE, #FFF); 			
.bw-gradient(#EEE, 230, 255); 				
.bordered(#EEE, #E5E5E5, #DDD, #E5E5E5); 	
.drop-shadow(0, 1px, 2px, 0.2); 			
.rounded(5px); 								
.border-radius(5px, 0, 0, 5px); 			
.opacity(0.8); 								
.transition-duration(0.2s); 				
.rotation(15deg); 							
.scale(2); 									
.transition(2s, ease-out); 					
.inner-shadow(0, 1px, 2px, 0.4); 			
.box-shadow(0 1px 2px #999); 				
.columns(50px, 0, 50px, #EEE, solid, 1px); 	
.translate(10px, 20px); 					
.box-sizing(content-box);
.background-size(cover) 					
.user-select(none); 	
.animation-delay(2s)

*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  background: white;
}
.screen-grid .game-timer-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}
.screen-grid .game-timer-bar .game-timer-bar-inner {
  height: 20px;
  background: -webkit-linear-gradient(left, #3DB0B6 0%, #33A1C1 100%);
  background: linear-gradient(to right, #3DB0B6 0%, #33A1C1 100%);
  width: 100%;
}
.grid {
  opacity: 0;
  background: white;
  position: relative;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.grid .block {
  display: block;
  position: absolute;
  color: white;
  background-size: cover;
}
.grid .block-1x {
  width: 100px;
}
.grid .block-2x {
  width: 200px;
}
.grid .block-3x {
  width: 300px;
}
.grid .block-4x {
  width: 400px;
}
.grid .block-1y {
  height: 100px;
}
.grid .block-2y {
  height: 200px;
}
.grid .block-3y {
  height: 300px;
}
.grid .block-4y {
  height: 400px;
}
.screen-game {
  padding: 60px 40px 40px 40px;
}
.screen-game .game-question-wrapper,
.screen-end .game-question-wrapper {
  display: table;
  width: 100%;
  height: 216px;
  margin-bottom: 40px;
}
.screen-game .game-question-wrapper .game-question,
.screen-end .game-question-wrapper .game-question {
  display: table-cell;
  width: 100%;
  font-size: 50px;
  color: black;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
}
.screen-game .game-image,
.screen-end .game-image {
  height: 424px;
  position: relative;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center center;
}
.screen-game .game-image .game-question,
.screen-end .game-image .game-question {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 40px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  color: white;
  font-weight: 300;
  text-align: center;
}
.screen-game .game-answers,
.screen-end .game-answers {
  width: 688px;
  margin: 0 auto;
}
.screen-game .game-answers .answer,
.screen-end .game-answers .answer {
  background-color: #EEEEEE;
  display: table;
  float: left;
  margin: 0 20px 20px 0;
  padding: 20px;
  width: 334px;
  height: 190px;
  font-size: 36px;
  text-align: center;
  color: #056db6;
}
.screen-game .game-answers .answer:nth-child(2n),
.screen-end .game-answers .answer:nth-child(2n) {
  margin-right: 0;
}
.screen-game .game-answers .answer:active,
.screen-end .game-answers .answer:active,
.screen-game .game-answers .answer:hover,
.screen-end .game-answers .answer:hover {
  text-decoration: none;
}
.screen-game .game-answers .answer .answer-text,
.screen-end .game-answers .answer .answer-text {
  display: table-cell;
  vertical-align: middle;
}
.screen-game .game-answers.clicked .answer.clicked,
.screen-end .game-answers.clicked .answer.clicked {
  background-color: red;
  color: white;
}
.screen-game .game-answers.clicked .answer.correct,
.screen-end .game-answers.clicked .answer.correct {
  background-color: green;
  color: white;
}
.screen-game .game-answers.clicked .answer.clicked.correct,
.screen-end .game-answers.clicked .answer.clicked.correct {
  background-color: green;
  color: white;
}
.game-progress-dots {
  position: fixed;
  bottom: 30px;
  right: 0;
  left: 0;
  text-align: center;
}
.game-progress-dots .game-progress-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  background-color: #fff;
  opacity: .2;
}
.game-progress-dots .game-progress-dot.past {
  opacity: .6;
}
.game-progress-dots .game-progress-dot.current {
  opacity: 1;
}
.screen-end {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.screen-end .btn-summaryToggle {
  position: fixed;
  z-index: 10;
  top: 40px;
  right: 40px;
}
.screen-end .flickity-viewport {
  height: 540px !important;
}
.screen-end.header {
  padding-top: 30px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
}
.screen-end .end-scores {
  padding: 40px 0;
  background: -webkit-linear-gradient(bottom, #2D3A4D 0%, #36647B 100%);
  background: linear-gradient(to top, #2D3A4D 0%, #36647B 100%);
  zoom: 1;
}
.screen-end .end-scores:before,
.screen-end .end-scores:after {
  content: "";
  display: table;
}
.screen-end .end-scores:after {
  clear: both;
}
.screen-end .end-scores .end-score-wrapper {
  width: 33%;
  float: left;
  padding: 0 40px;
  text-align: center;
}
.screen-end .end-scores .end-score-wrapper:nth-child(2) {
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
}
.screen-end .end-scores .end-score-wrapper h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #1ba1c3;
  font-size: 70px;
  font-weight: 300;
}
.screen-end .end-scores .end-score-wrapper h1.end-score {
  color: white;
}
.screen-end .end-scores .end-score-wrapper .end-score-label {
  text-transform: uppercase;
}
.screen-end .end-history-wrapper {
  padding: 40px 0;
  height: 768px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
}
.screen-end .end-history-wrapper h3 {
  margin: 0;
  color: #B7B7B7;
  text-transform: uppercase;
  text-align: center;
}
.screen-end .end-history-wrapper .end-history {
  margin-top: 20px;
}
.screen-end .end-history-wrapper .end-history .game-data {
  width: 500px;
  height: 510px;
  padding: 40px;
  margin-right: 60px;
  overflow: visible;
  background: -webkit-linear-gradient(bottom, #2D3A4D 0%, #36647B 100%);
  background: linear-gradient(to top, #2D3A4D 0%, #36647B 100%);
}
.screen-end .end-history-wrapper .end-history .game-data .game-question-wrapper {
  height: 210px;
  margin-bottom: 10px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-question-wrapper .game-question {
  font-size: 28px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-image {
  height: 200px;
  margin-bottom: 20px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-image .game-question {
  padding: 20px;
  font-size: 16px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-answers {
  width: 100%;
}
.screen-end .end-history-wrapper .end-history .game-data .game-answers .answer {
  width: 205px;
  height: 100px;
  margin: 0 10px 10px 0;
  padding: 10px;
  font-size: 14px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-answers .answer:nth-child(2n) {
  margin-right: 0;
}
.screen-end .end-history-wrapper .end-history .game-data .game-answers .answer:nth-child(3) {
  margin-bottom: 0;
}
.screen-end .end-history-wrapper .end-history .game-data .game-answers .answer:nth-child(4) {
  margin-bottom: 0;
}
.screen-end .end-history-wrapper .end-history .game-data .game-progress-dots {
  display: none;
}
.screen-end .end-history-wrapper .end-history .game-data::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -20px;
  height: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  right: 20px;
  left: 20px;
  box-shadow: 0 0 9px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.screen-end .end-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  background-color: #2d475c;
}
.screen-end .end-footer .btn {
  margin: 0 10px;
  width: 290px;
}
/*# sourceMappingURL=main.css.map */