@charset "UTF-8";
/* LESS MIXINS ==========================================

Examples:
```````````````````````````````````````````
.gradient(#F5F5F5, #EEE, #FFF); 			
.bw-gradient(#EEE, 230, 255); 				
.bordered(#EEE, #E5E5E5, #DDD, #E5E5E5); 	
.drop-shadow(0, 1px, 2px, 0.2); 			
.rounded(5px); 								
.border-radius(5px, 0, 0, 5px); 			
.opacity(0.8); 								
.transition-duration(0.2s); 				
.rotation(15deg); 							
.scale(2); 									
.transition(2s, ease-out); 					
.inner-shadow(0, 1px, 2px, 0.4); 			
.box-shadow(0 1px 2px #999); 				
.columns(50px, 0, 50px, #EEE, solid, 1px); 	
.translate(10px, 20px); 					
.box-sizing(content-box);
.background-size(cover) 					
.user-select(none); 	
.animation-delay(2s)

*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto 100.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto 300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto 300italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto 500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto 700.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto Condensed regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto Condensed 700.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
[class^="triviaIcon-"],
[class*=" triviaIcon-"] {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
}
body {
  background: url('../img/game-background.jpg') no-repeat;
  background-size: cover;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
.btn {
  border-width: 2px;
  padding: 14px 20px;
  border-radius: 0;
  min-width: 220px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.btn.btn-primary {
  background: #B1CF3B;
  border-color: #B1CF3B;
  color: #302F25;
}
.btn.btn-secondary {
  background: rgba(27, 25, 14, 0.4);
  border-color: rgba(175, 172, 143, 0.5);
  color: #EFEFED;
}
.btn-quit {
  display: none;
  position: fixed;
  z-index: 100;
  left: 20px;
  top: 25px;
  font-size: 20px;
  text-transform: uppercase;
  color: #302F25;
}
.btn-quit:hover,
.btn-quit:active {
  text-decoration: none;
}
.screen-difficulty {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/splash-background.jpg') no-repeat;
  background-size: cover;
}
.screen-difficulty .splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.screen-difficulty .splash img {
  width: 580px;
  margin-top: 250px;
}
.screen-difficulty .splash h3 {
  font-size: 24px;
  color: white;
  font-weight: normal;
  margin-bottom: 200px;
}
@-webkit-keyframes pulse {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
.screen-difficulty .splash h4 {
  color: #B1CF3B;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 100;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.screen-difficulty .difficulty-settings {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #EFEFED;
}
.screen-difficulty .difficulty-settings .instructions h2 {
  font-family: 'Roboto Condensed';
  font-weight: bold;
  font-size: 52px;
  text-transform: uppercase;
}
.screen-difficulty .difficulty-settings .instructions p {
  color: white;
  font-weight: regular;
}
.screen-difficulty .difficulty-settings .options {
  margin-top: 20px;
  margin-bottom: 20px;
}
.screen-difficulty .difficulty-settings .options input {
  display: none;
}
.screen-difficulty .difficulty-settings .options input:checked + label {
  border: 2px solid #B1CF3B;
  box-shadow: 0 0 6px 0 #B1CF3B;
}
.screen-difficulty .difficulty-settings .options label {
  width: 220px;
  display: inline-block;
  margin: 0 10px;
}
.screen-difficulty .difficulty-settings .options label span {
  font-weight: normal;
}
.screen-difficulty .difficulty-settings .options label > * {
  pointer-events: none;
}
.screen-difficulty .difficulty-settings .begin .btn {
  margin-top: 32px;
  font-size: 26px;
}
.screen-grid .game-timer-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 12px;
  background: rgba(27, 25, 14, 0.25);
}
.screen-grid .game-timer-bar .game-timer-bar-inner {
  height: 12px;
  width: 100%;
  background: #454338;
}
.screen-grid .count {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.screen-grid .count .number {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Roboto Condensed';
  text-align: center;
  font-size: 400px;
  text-shadow: 0 0 40px rgba(48, 47, 37, 0.2);
  color: #FFFFFF;
}
.grid {
  margin-top: 50px;
  opacity: 0;
  position: relative;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow: hidden;
}
.grid .block {
  display: block;
  position: absolute;
  color: white;
  background-size: cover;
  -webkit-filter: drop-shadow(0px 0px 6px #555);
          filter: drop-shadow(0px 0px 6px #555);
}
.grid .block-1x {
  width: 100px;
}
.grid .block-2x {
  width: 200px;
}
.grid .block-3x {
  width: 300px;
}
.grid .block-4x {
  width: 400px;
}
.grid .block-5x {
  width: 500px;
}
.grid .block-6x {
  width: 600px;
}
.grid .block-1y {
  height: 100px;
}
.grid .block-2y {
  height: 200px;
}
.grid .block-3y {
  height: 300px;
}
.grid .block-4y {
  height: 400px;
}
.grid .block-5y {
  height: 500px;
}
.grid .block-6y {
  height: 600px;
}
.screen-game {
  padding: 40px 40px 40px 40px;
}
.screen-game .game-count,
.screen-end .game-count {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
  font-size: 17px;
}
.screen-game .game-question-wrapper,
.screen-end .game-question-wrapper {
  display: table;
  width: 100%;
  height: 165px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.screen-game .game-question-wrapper .game-question,
.screen-end .game-question-wrapper .game-question {
  display: table-cell;
  width: 100%;
  font-size: 54px;
  font-weight: 500;
  color: #302F25;
  text-align: center;
  vertical-align: middle;
}
.screen-game .game-answers,
.screen-end .game-answers {
  width: 688px;
  margin: 0 auto;
}
.screen-game .game-answers .answer,
.screen-end .game-answers .answer {
  display: table;
  float: left;
  margin: 0 20px 20px 0;
  padding: 20px;
  width: 334px;
  height: 190px;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  color: #302F25;
  background: rgba(255, 255, 255, 0.25);
  border: 4px solid #FFFFFF;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.screen-game .game-answers .answer:nth-child(2n),
.screen-end .game-answers .answer:nth-child(2n) {
  margin-right: 0;
}
.screen-game .game-answers .answer:active,
.screen-end .game-answers .answer:active,
.screen-game .game-answers .answer:hover,
.screen-end .game-answers .answer:hover {
  text-decoration: none;
}
.screen-game .game-answers .answer .answer-text,
.screen-end .game-answers .answer .answer-text {
  display: table-cell;
  vertical-align: middle;
}
.screen-game .game-answers.clicked .answer.clicked,
.screen-end .game-answers.clicked .answer.clicked {
  /* Rectangle 2 Copy 5: */
  background: rgba(255, 61, 61, 0.1);
  border: 4px solid #FF3D3D;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.screen-game .game-answers.clicked .answer.correct,
.screen-end .game-answers.clicked .answer.correct {
  background: rgba(177, 207, 59, 0.1);
  border: 4px solid #B1CF3B;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.screen-game .game-answers.clicked .answer.clicked.correct,
.screen-end .game-answers.clicked .answer.clicked.correct {
  background: rgba(177, 207, 59, 0.1);
  border: 4px solid #B1CF3B;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.game-progress-dots {
  position: fixed;
  bottom: 30px;
  right: 0;
  left: 0;
  text-align: center;
}
.game-progress-dots .game-progress-dot {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 5px;
  background: rgba(27, 25, 14, 0.25);
}
.game-progress-dots .game-progress-dot.past {
  background: #454338;
}
.game-progress-dots .game-progress-dot.current {
  background: #454338;
}
.screen-end {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.screen-end .btn-summaryToggle {
  position: fixed;
  z-index: 10;
  top: 40px;
  right: 40px;
  font-size: 16px;
  padding: 12px 14px;
  min-width: auto;
}
.screen-end .flickity-viewport {
  height: 540px !important;
}
.screen-end.header {
  padding-top: 30px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
}
.screen-end .end-scores {
  padding: 40px 0;
  zoom: 1;
}
.screen-end .end-scores:before,
.screen-end .end-scores:after {
  content: "";
  display: table;
}
.screen-end .end-scores:after {
  clear: both;
}
.screen-end .end-scores .end-score-wrapper {
  width: 33%;
  float: left;
  padding: 0 40px;
  text-align: center;
}
.screen-end .end-scores .end-score-wrapper:nth-child(2) {
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
}
.screen-end .end-scores .end-score-wrapper h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 70px;
  font-weight: 100;
}
.screen-end .end-scores .end-score-wrapper h1.end-score {
  color: white;
}
.screen-end .end-scores .end-score-wrapper .end-score-label {
  text-transform: uppercase;
}
.screen-end .end-history-wrapper {
  padding: 130px 0 40px 0;
  height: 768px;
  overflow: hidden;
  /* Rectangle 7: */
  background: rgba(27, 25, 14, 0.8);
}
.screen-end .end-history-wrapper h3 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 36px;
}
.screen-end .end-history-wrapper .end-history {
  margin-top: 20px;
}
.screen-end .end-history-wrapper .end-history .game-data {
  width: 540px;
  height: 425px;
  padding: 40px;
  margin-right: 60px;
  overflow: visible;
  background: url('../img/game-background.jpg') no-repeat;
  background-size: cover;
  box-shadow: 0 0 12px 0 #1B190E;
}
.screen-end .end-history-wrapper .end-history .game-data .game-count {
  font-size: 14px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-question-wrapper {
  height: 100px;
  margin-bottom: 10px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-question-wrapper .game-question {
  font-size: 28px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-image {
  height: 200px;
  margin-bottom: 20px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-image .game-question {
  padding: 20px;
  font-size: 16px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-answers {
  width: 100%;
}
.screen-end .end-history-wrapper .end-history .game-data .game-answers .answer {
  width: 225px;
  height: 100px;
  margin: 0 10px 10px 0;
  padding: 10px;
  font-size: 18px;
}
.screen-end .end-history-wrapper .end-history .game-data .game-answers .answer:nth-child(2n) {
  margin-right: 0;
}
.screen-end .end-history-wrapper .end-history .game-data .game-answers .answer:nth-child(3) {
  margin-bottom: 0;
}
.screen-end .end-history-wrapper .end-history .game-data .game-answers .answer:nth-child(4) {
  margin-bottom: 0;
}
.screen-end .end-history-wrapper .end-history .game-data .game-progress-dots {
  display: none;
}
.screen-end .end-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  opacity: 0.9;
  background: #1B190E;
}
.screen-end .end-footer .btn {
  margin: 0 10px;
  width: 290px;
}
/*# sourceMappingURL=main.css.map */